root = true

[*]
max_line_length = 120
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = true

[*.rs]
indent_style = space
indent_size = 4

[*.lock]
max_line_length = unset
trim_trailing_whitespace = unset
end_of_line = unset
insert_final_newline = unset
indent_style = unset
indent_size = unset
